<form class="well">
  <input placeholder="Enter Product Name" [(ngModel)]="formProduct.name" name="name"/>
  <input placeholder="Enter Product Price" [(ngModel)]="formProduct.price" name="price"/>
  <input placeholder="Enter Product Description" [(ngModel)]="formProduct.description" name="description"/>
  <button class="btn btn-primary" (click)="saveProduct()">Save</button>
</form>
<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let p of mcproducts; let i= index">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>{{p.description}}</td>
    <td><button class="btn btn-danger" (click)="delete(p.id, i)">Delete</button></td>
    <td><button class="btn btn-success" (click)="edit(p)">Edit</button></td>
  </tr>
  <tr *ngIf="mcproducts.length == 0">
    <td colspan="3">No products found !</td>
  </tr>
</table>
